---
Checks: >
        -*,
        clang-analyzer-*,
        clang-analyzer-cplusplus*,
        -clang-analyzer-cplusplus.NewDeleteLeaks,
        -clang-analyzer-cplusplus.NewDelete,
        boost-*,
        performance*,
        -performance-enum-size,
        readability*,
        -readability-named-parameter,
        -readability-implicit-bool-conversion,
        -readability-math-missing-parentheses,
        -readability-convert-member-functions-to-static,
        -readability-isolate-declaration,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -readability-function-size,
        -readability-redundant-access-specifiers,
        -readability-redundant-casting,
        -readability-redundant-member-init,
        -readability-suspicious-call-argument,
        -readability-identifier-length,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-macro-parentheses,
        -bugprone-suspicious-stringview-data-usage,
        -bugprone-unchecked-optional-access,
        modernize-*,
        -modernize-use-trailing-return-type,
WarningsAsErrors:    false
FormatStyle:         file
